@import 'nib'
normalize-css()
*
  box-sizing border-box
a
  color inherit
  text-decoration none
.highlight
  pre
    tab-size 2

@import './_variable'
@import './_method/style.styl'
@import './_highlight/atom-one-dark.styl'
@import './_partial/code.styl'
@import './_partial/nav.styl'
@import './_partial/sidebar.styl'
@import './_partial/header.styl'
@import './_partial/post.styl'