sm = 576px
md = 768px
lg = 992px
xl = 1200px

media(width)
  @media screen and (max-width: width * 1px)
    {block}

sm-size()
  +media(sm)
    {block}
md-size()
  +media(md)
    {block}
lg-size()
  +media(lg)
    {block}
xl-size()
  +media(xl)
    {block}