$main-background-color = #0fc7c2
$main-background-font-color = #FFF
$main-font-size = 1.2rem

$nav-bar-height = 52px
$nav-bar-background = $main-background-color
$nav-bar-font-color = $main-background-font-color
$nav-bar-font-size = 1.8rem


$sidebar-width = 300px
$sidebar-background = $main-background-color
$sidebar-author-color = $main-background-font-color
$sidebar-list-color = $main-background-color


