.page
  &-header
    text-align center
    padding-top 3rem
    padding-bottom 3rem
    margin-top $nav-bar-height
    background url(/img/headerblur.jpg) 0 0 / cover
    backdrop-filter blur(5px)
    color #EFEFEF
    text-shadow 0 0 15px #111
    +md-size()
      padding-top 5rem
      padding-bottom 5rem
      margin-top 0