img
  max-width 100%
.container
  session
    position absolute
    left 0
    right 0
    margin auto
    font-size $main-font-size
    +md-size()
      left $sidebar-width
      margin-top 0

.main
  &-content
    // max-width 770px
    padding 40px