img
  max-width 100%

.main
  &-content
    position absolute
    left 0
    right 0
    margin auto
    max-width 770px
    padding 15px
    margin-top $nav-bar-height
    font-size $main-font-size
    +md-size()
      left $sidebar-width
      margin-top 0