img
  max-width 100%

.main
  &-content
    position absolute
    left 300px
    right 0
    margin auto
    max-width 770px
    padding 15px
    padding-top  $nav-bar-height
    +md-size()
      left 0