doctype html
html(lang="zh-cn")
  head
    include ./head.pug
  body
    .container
      include ./nav.pug
      include ./sidebar.pug
      session
        include ./header.pug
        block content
        include ./foot.pug