.sidebar
  .sidebar-photo
    input#sidebar-switch.sidebar-photo-switch(type="checkbox")
    .sidebar-photo-container
      label.sidebar-photo-switch-button(for="sidebar-switch")
      label.sidebar-photo-img__group(for="sidebar-switch")
        img.sidebar-photo-img__group__img(src="\/img/group.jpg")
      .sidebar-photo-img__left
        img.sidebar-photo-img__left__img(src="\/img/people1.jpg")
      .sidebar-photo-img__right
        img.sidebar-photo-img__right__img(src="\/img/people2.jpg")
  .sidebar-author Esther & Les
  .sidebar-link-list
    .sidebar-link-item
      a 關於Esther
    .sidebar-link-item
      a 關於Les
    .sidebar-link-item
      a 技術筆記
    .sidebar-link-item
      a 旅遊札記
    .sidebar-link-item
      a 生活分享
    .sidebar-link-item
      a(href="https://noob.tw")
        strong 友站連結(Noob's Space)